html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.game-grid {
  display: flex;
  justify-content: center;
}

.game-grid_column {
  width: 28rem !important;
  background-clip: padding-box;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .game-grid_column {
    margin-left: 0;
    margin-right: 0;
  }
}